[submodule "anticipation/mmaction"]
	path = anticipation/mmaction
	url = https://github.com/lyttonhao/mmaction.git
	branch = ego-topo
[submodule "anticipation/mmcv"]
	path = anticipation/mmcv
	url = https://github.com/lyttonhao/mmcv.git
	branch = ego-topo
